<br>
<br>
<div class="w3-row" ng-controller="almacenCtrl">
  <div class="w3-col m4 l4 ">
  <span>Inicio/ almacen</span><br>
    <div class="w3-card-4" style="width:100%">
    <header class="w3-container w3-light-grey">
      <h3>Hola {{nombre_c}}</h3>
    </header>
    <div class="w3-container">
      <p>1 new friend request</p>
      <hr>
      <img src="http://localhost:3000/img/brain.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
      <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
    </div>
    <button class="w3-btn-block w3-dark-grey" ng-click="btnMostartModalMaquina()" onclick="document.getElementById('id04').style.display='block'">Agregar Maquina</button>
    <button class="w3-btn-block w3-dark-grey" ng-click="btnMostartModalMaquina()" onclick="document.getElementById('id04').style.display='block'">Buscar Maquina</button>
  </div>
  </div>
  <div class="w3-col m4 l4 ">
    <span>Ultimas maquinas agregadas</span><br>
    <table class="w3-table w3-bordered w3-small">
      <thead>
        <th>Serie</th>
        <th>Marca</th>
        <th>Fecha Alta</th>
      </thead>
      <tbody>
        <tr ng-repeat="maq in getMa | limitTo:8">
          <td>{[maq.serie]}</td>
          <td>{[maq.marca]}</td>
          <td>{[maq.fecha_alta]}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="w3-col m4 l4 ">
    <span>Grafica</span><br>
    <div >
      <canvas id="myChart" height="42" width="42"></canvas>
    </div>
  </div>
  <!--<input type="button" name="" value="Agregar maquina" class="w3-btn" ng-click="btnMostartModalMaquina()" onclick="document.getElementById('id04').style.display='block'">-->

<!--<input type="button" name="" value="Agregar maquina" class="w3-btn" ng-click="btnMostartModalMaquina()" onclick="document.getElementById('id04').style.display='block'">-->

  <!--Modales -->
  <div id="id04" class="w3-modal w3-animate-opacity">
      <div class="w3-modal-content w3-card-8">
        <header class="w3-container w3-blue">
          <span onclick="document.getElementById('id04').style.display='none'"
          class="w3-closebtn">&times;</span>
          <h2>MAKICOP BY SHARP (Agregar Maquina)</h2>
        </header>
        <div class="w3-container" ng-show="show_gnral_form_maquina">

          <label>Serie</label>
          <input class="w3-input" type="text"  ng-model="agregarM.serie" ng-blur="searchSerie(agregarM.serie);revisarCampo(agregarM,agregarMVal,agregarM_err,'serie')"></p>
          <div class="w3-panel w3-red" ng-show="show_err_serie">
            <h3>Error!</h3>
            <p>Ya existe la serie intenta con otra.</p>
          </div>
          <span class="msg-error" ng-show="agregarM_err.serie">{[agregarM_err.serie]} </span>
          <p>
            <div ng-show="show_rest_form">
              <label>Modelo</label>
              <input class="w3-input" ng-blur="revisarCampo(agregarM,agregarMVal,agregarM_err,'modelo')" type="text" ng-model="agregarM.modelo"></p>
              <div class="w3-panel w3-red" ng-show="agregarM_err.modelo">
                {[agregarM_err.modelo]}
              </div>
              <p>
                <label>Marca</label>
                <input class="w3-input" ng-blur="revisarCampo(agregarM,agregarMVal,agregarM_err,'marca')" type="text"  ng-model="agregarM.marca"></p>
                <div class="w3-panel w3-red" ng-show="agregarM_err.marca">
                  {[agregarM_err.marca]}
                </div>
                <p>
                <label>Contador Negro</label>
                <input class="w3-input" ng-blur="revisarCampo(agregarM,agregarMVal,agregarM_err,'negro')" type="text" ng-model="agregarM.negro"></p>
                <div class="w3-panel w3-red" ng-show="agregarM_err.negro">
                  {[agregarM_err.negro]}
                </div>
                <p>
                  <label>Contador Color</label>
                  <input class="w3-input" ng-blur="revisarCampo(agregarM,agregarMVal,agregarM_err,'color')" type="text"  ng-model="agregarM.color"></p>
                  <div class="w3-panel w3-red" ng-show="agregarM_err.color">
                    {[agregarM_err.color]}
                  </div>
                  <p>
                  <label>Agregados</label>
                  <input class="w3-input" ng-blur="revisarCampo(agregarM,agregarMVal,agregarM_err,'agregados')" type="text" ng-model="agregarM.agregados"></p>
                  <div class="w3-panel w3-red" ng-show="agregarM_err.agregados">
                    {[agregarM_err.agregados]}
                  </div>
                  <p>
                    <p>
                      <label>Cliente</label>
                      <input class="w3-input" ng-blur="revisarCampo(agregarM,agregarMVal,agregarM_err,'cliente')" type="text"  ng-model="agregarM.cliente"></p>
                      <div class="w3-panel w3-red" ng-show="agregarM_err.cliente">
                        {[agregarM_err.cliente]}
                      </div>
                      <p>
                      <label>Tecnico</label>
                      <input class="w3-input" ng-blur="revisarCampo(agregarM,agregarMVal,agregarM_err,'tecnico')" type="text" ng-model="agregarM.tecnico"></p>
                      <div class="w3-panel w3-red" ng-show="agregarM_err.tecnico">
                        {[agregarM_err.tecnico]}
                      </div>
                      <p>
                        <p>
                          <label>Calle</label>
                          <input class="w3-input" ng-blur="revisarCampo(agregarM,agregarMVal,agregarM_err,'calle')" type="text"  ng-model="agregarM.calle"></p>
                          <div class="w3-panel w3-red" ng-show="agregarM_err.calle">
                            {[agregarM_err.calle]}
                          </div>
                          <p>
                          <label>Colonia</label>
                          <input class="w3-input" ng-blur="revisarCampo(agregarM,agregarMVal,agregarM_err,'colonia')" type="text" ng-model="agregarM.colonia"></p>
                          <div class="w3-panel w3-red" ng-show="agregarM_err.colonia">
                            {[agregarM_err.colonia]}
                          </div>
                          <p>
                            <p>
                              <label>Municipio</label>
                              <input class="w3-input" ng-blur="revisarCampo(agregarM,agregarMVal,agregarM_err,'municipio')" type="text"  ng-model="agregarM.municipio"></p>
                              <div class="w3-panel w3-red" ng-show="agregarM_err.municipio">
                                {[agregarM_err.municipio]}
                              </div>
                              <p>
                              <label>Estado</label>
                              <input class="w3-input" ng-blur="revisarCampo(agregarM,agregarMVal,agregarM_err,'estado')" type="text" ng-model="agregarM.estado"></p>
                              <div class="w3-panel w3-red" ng-show="agregarM_err.estado">
                                {[agregarM_err.estado]}
                              </div>
                              <p>
                                  <label>Pais</label>
                                  <input class="w3-input" ng-blur="revisarCampo(agregarM,agregarMVal,agregarM_err,'pais')" type="text"  ng-model="agregarM.pais"></p>
                                  <div class="w3-panel w3-red" ng-show="agregarM_err.pais">
                                    {[agregarM_err.pais]}
                                  </div>
                                  <p>
                                  <label>Cp</label>
                                  <input class="w3-input" ng-blur="revisarCampo(agregarM,agregarMVal,agregarM_err,'cp')" type="text" ng-model="agregarM.cp"></p>
                                  <div class="w3-panel w3-red" ng-show="agregarM_err.cp">
                                    {[agregarM_err.cp]}
                                  </div>
                                  <p>
                                    <label>Contacto</label>
                                    <input class="w3-input" ng-blur="revisarCampo(agregarM,agregarMVal,agregarM_err,'contacto')" type="text"  ng-model="agregarM.contacto"></p>
                                    <div class="w3-panel w3-red" ng-show="agregarM_err.contacto">
                                      {[agregarM_err.contacto]}
                                    </div>
                                    <p>
                                    <label>Telefono</label>
                                    <input class="w3-input" ng-blur="revisarCampo(agregarM,agregarMVal,agregarM_err,'telefono')" type="text" ng-model="agregarM.telefono"></p>
                                    <div class="w3-panel w3-red" ng-show="agregarM_err.telefono">
                                      {[agregarM_err.telefono]}
                                    </div>
                                    <p>
                                      <label>Departamento</label>
                                      <input class="w3-input" ng-blur="revisarCampo(agregarM,agregarMVal,agregarM_err,'departamento')" type="text"  ng-model="agregarM.departamento"></p>
                                      <div class="w3-panel w3-red" ng-show="agregarM_err.departamento">
                                        {[agregarM_err.departamento]}
                                      </div>
                                      <p>
                                      <label>Subcliente</label>
                                      <input class="w3-input" ng-blur="revisarCampo(agregarM,agregarMVal,agregarM_err,'subcliente')" type="text" ng-model="agregarM.subcliente"></p>
                                      <div class="w3-panel w3-red" ng-show="agregarM_err.subcliente">
                                        {[agregarM_err.subcliente]}
                                      </div>
                                      <p>
              <input type="button" name="" value="Enviar" class="w3-btn" ng-click="insertMachine(agregarM)">
            </div>
        </div>
        <div class="w3-container" ng-show="show_exito_maquina">
          <div class="w3-panel w3-green" >
            <h1>Exito!</h1><br>
            <span>Se agrego la maquina</span><br>
            <span>Id : ({[idG]})</span>
          </div>
        </div>
      </div>
    </div>
    <div id="id05" class="w3-modal w3-animate-opacity">
        <div class="w3-modal-content w3-card-8">
          <header class="w3-container w3-blue">
            <span onclick="document.getElementById('id05').style.display='none'"
            class="w3-closebtn">&times;</span>
            <h2>MAKICOP BY SHARP (Buscar Maquina)</h2>
          </header>
          <div class="w3-container" >
            <label for="">Buscar por:</label><br>
            <input class="w3-radio" type="radio" name="gender" value="id" ng-click="radioId()">
            <label class="w3-validate">Id</label>
            <input class="w3-radio" type="radio" name="gender" value="serie" ng-click="radioSerie()">
            <label class="w3-validate">Serie</label>
            <input class="w3-radio" type="radio" name="gender" value="modelo" ng-click="radioModelo()">
            <label class="w3-validate">Modelo</label>
            <div ng-show="show_radio_id">
              <label for="">Ingresa Id</label><br><br>
              <input class="w3-input w3-border w3-animate-input" type="text" ng-model="buscarM.por" style="width:30%"><br>
              <input type="button" name="" value="Enviar" class="w3-btn" ng-click="buscarId(buscarM)">
            </div>
            <div ng-show="show_radio_serie">
              <label for="">Ingresa Serie</label><br><br>
              <input class="w3-input w3-border w3-animate-input" type="text" ng-model="buscarM.por" style="width:30%"><br>
              <input type="button" name="" value="Enviar" class="w3-btn" ng-click="buscarSerie(buscarM)">
            </div>
            <div ng-show="show_radio_modelo">
              <label for="">Ingresa Modelo</label><br><br>
              <input class="w3-input w3-border w3-animate-input" type="text" ng-model="buscarM.por" style="width:30%"><br>
              <input type="button" name="" value="Enviar" class="w3-btn" ng-click="buscarModelo(buscarM)">
            </div>
          </div>
          <table class="w3-table-all w3-hoverable" ng-show="show_tabla_busqueda_maquina">
            <thead>
              <th>Serie</th>
              <th>Informacion</th>
              <th>Editar</th>
            </thead>
            <tbody>
              <tr ng-repeat="maquinas in maquinaE">
                <td>{[maquinas.serie]}</td>
                <td><input type="button" name="" value="Ver mas" class="w3-btn" ng-click="verMasInfo(maquinas)" onclick="document.getElementById('id06').style.display='block'"></td>
                <td><input type="button" name="" value="Editar" class="w3-btn" ng-click="editarMaquinaB(maquinas);verMasInfoEdit(maquinas)" onclick="document.getElementById('id07').style.display='block'"></td>
              </tr>
            </tbody>
          </table>
          <div class="w3-container" ng-show="show_exito__busqueda_maquina">
            <div class="w3-panel w3-red" >
              <h1>Alerta!</h1><br>
              <span>No se encontro ningun resultado</span>
            </div>
          </div>
        </div>
      </div>
      <div id="id06" class="w3-modal w3-animate-opacity">
          <div class="w3-modal-content w3-card-8">
            <header class="w3-container w3-blue">
              <span onclick="document.getElementById('id06').style.display='none'"
              class="w3-closebtn">&times;</span>
              <h2>MAKICOP BY SHARP Maquina con serie: {[bSerie]}</h2>
            </header>
            <div class="w3-container" >
              <div class="w3-row">
                <div class="w3-col w3-container m2 l3 ">
                  <span>Modelo:</span><br>
                  <span>Marca:</span><br>
                  <span>Contador Color:</span><br>
                  <span>Contador Negro:</span><br>
                  <span>Agregados:</span><br>
                  <span>Cliente:</span><br>
                  <span>Tecnico:</span><br>
                  <span>Calle:</span><br>
                  <span>Colonia:</span><br>
                  <span>Municipio:</span><br>
                  <span>Estado:</span><br>
                  <span>Pais:</span><br>
                  <span>Cp:</span><br>
                  <span>Contacto:</span><br>
                  <span>Telefono:</span><br>
                  <span>Departamento:</span><br>
                  <span>Sub Cliente:</span><br>
                  <span>Estatus:</span><br>
                </div>
                <div class="w3-col w3-container m10 l9">
                  <span>{[bModelo]}</span><br>
                  <span>{[bMarca]}</span><br>
                  <span>{[bColor]}</span><br>
                  <span>{[bNegro]}</span><br>
                  <span>{[bAgregados]}</span><br>
                  <span>{[bCliente]}</span><br>
                  <span>{[bTecnico]}</span><br>
                  <span>{[bCalle]}</span><br>
                  <span>{[bColonia]}</span><br>
                  <span>{[bMunicipio]}</span><br>
                  <span>{[bEstado]}</span><br>
                  <span>{[bPais]}</span><br>
                  <span>{[bCp]}</span><br>
                  <span>{[bContacto]}</span><br>
                  <span>{[bTelefono]}</span><br>
                  <span>{[bDepartamento]}</span><br>
                  <span>{[bSubCliente]}</span><br>
                  <span>{[bEstatus]}</span><br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="id07" class="w3-modal w3-animate-opacity">
            <div class="w3-modal-content w3-card-8">
              <header class="w3-container w3-blue">
                <span onclick="document.getElementById('id07').style.display='none'"
                class="w3-closebtn">&times;</span>
                <h2>MAKICOP BY SHARP Maquina a editar con serie: {[edit.bSerie]}</h2>
              </header>
              <div class="w3-container" >
                    <span>Modelo:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bModelo" class="w3-input w3-border"><br>
                    <span>Marca:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bMarca" class="w3-input w3-border"><br>
                    <span>Contador Color:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bColor" class="w3-input w3-border"><br>
                    <span>Contador Negro:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bNegro" class="w3-input w3-border"><br>
                    <span>Agregados:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bAgregados" class="w3-input w3-border"><br>
                    <span>Cliente:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bCliente" class="w3-input w3-border"><br>
                    <span>Tecnico:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bTecnico" class="w3-input w3-border"><br>
                    <span>Calle:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bCalle" class="w3-input w3-border"><br>
                    <span>Colonia:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bColonia" class="w3-input w3-border"><br>
                    <span>Municipio:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bMunicipio" class="w3-input w3-border"><br>
                    <span>Estado:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bEstado" class="w3-input w3-border"><br>
                    <span>Pais:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bPais" class="w3-input w3-border"><br>
                    <span>Cp:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bCp" class="w3-input w3-border"><br>
                    <span>Contacto:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bContacto" class="w3-input w3-border"><br>
                    <span>Telefono:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bTelefono" class="w3-input w3-border"><br>
                    <span>Departamento:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bDepartamento" class="w3-input w3-border"><br>
                    <span>Sub Cliente:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bSubCliente" class="w3-input w3-border"><br>
                    <span>Estatus:</span><br>
                    <input type="text" name="" value="" ng-model="edit.bEstatus" class="w3-input w3-border"><br>
                    <input type="button" name="" value="Enviar" class="w3-btn" ng-click="btnAlertMaquina()" onclick="document.getElementById('id08').style.display='block'">
              </div>
            </div>
          </div>
          <div id="id08" class="w3-modal w3-animate-opacity">
              <div class="w3-modal-content w3-card-8">
                <header class="w3-container w3-yellow" ng-show="show_alerta_maquina">
                  <span onclick="document.getElementById('id08').style.display='none'"
                  class="w3-closebtn">&times;</span>
                  <h2>Alerta!</h2>
                </header>
                <div class="w3-container" ng-show="show_alerta_maquina">
                  <center><img src="http://localhost:3000/img/pen.png" width="100" height="100" ><br>
                    <label for="">Seguro que desear modificar la informaciòn</label><br>
                  <input type="button" name="" value="Aceptar" class="w3-btn w3-hover-green" ng-click="updateInfoMaquina(edit)">
                  <input type="button" name="" value="Cancelar" onclick="document.getElementById('id08').style.display='none'" class="w3-btn w3-hover-red"></center>
                </div>

                <header class="w3-container w3-green" ng-show="show_ok_update_maquina">
                  <span onclick="document.getElementById('id08').style.display='none'"
                  class="w3-closebtn">&times;</span>
                  <h2>Completado!</h2>
                </header>
                <div class="w3-container" ng-show="show_ok_update_maquina">
                  <center><img src="http://localhost:3000/img/checked.png" width="100" height="100" ><br>
                    <label for="">Se actualizo el registro de la maquina</label><br>
                  <input type="button" name="" value="Aceptar" class="w3-btn w3-hover-green" ng-click="aceptarOkUpdate()" onclick="document.getElementById('id08').style.display='none';document.getElementById('id07').style.display='none'"></center>
                </div>

                <header class="w3-container w3-yellow" ng-show="show_alert_update_maquina">
                  <span onclick="document.getElementById('id08').style.display='none'"
                  class="w3-closebtn">&times;</span>
                  <h2>Alerta!</h2>
                </header>
                <div class="w3-container" ng-show="show_alert_update_maquina">
                  <center><img src="http://localhost:3000/img/information.png" width="100" height="100" ><br>
                    <label for="">No se actualizo ningun registro</label><br>
                  <input type="button" name="" value="Aceptar" class="w3-btn w3-hover-yellow" ng-click="aceptarOkUpdate()" onclick="document.getElementById('id08').style.display='none';document.getElementById('id07').style.display='none'"></center>
                </div>
              </div>
            </div>
    <!-- -->
  </div>
