<br>
<br>
<div class="w3-row">
  <div class="w3-col m3 w3-center w3-red">Inicio/ login</div>
    <div class="w3-col m6 w3-center w3-grey">
      <form  class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
      <h2 class="w3-center">Iniciar Sesión</h2>
      <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
          <div class="w3-rest">
            <input class="w3-input w3-border" name="first" type="text" placeholder="Usuario" ng-model="login.usr">
          </div>
      </div>
      <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
          <div class="w3-rest">
            <input class="w3-input w3-border" name="message" type="password" placeholder="Password" ng-model="login.pass">
          </div>
      </div>
      <button class="w3-btn-block w3-section w3-blue w3-ripple w3-padding" ng-click="iniciar(login)">Iniciar</button>
      <div class="w3-panel w3-red" ng-show="show_err_login">
        <div class="w3-row">
          <div class="w3-col m8">
            <h3>Error!</h3>
            <p>Credenciales erroneas. Intentalo de nuevo!</p>
          </div>
          <div class="w3-col m4 w3-center ">
            <img src="http://localhost:3000/img/cancel.png" width="100" height="100" >
          </div>
        </div>
      </div>
      </form>
    </div>
  <div class="w3-col m3 w3-center w3-grey"></div>
</div>
