<br>
<br>
<br>

<div class="w3-row" ng-controller="maquinaCtrl">
  <!-- TARGETA PERFIL -->
  <div class="w3-col m4 l4 ">
  <span>Inicio/ almacen</span><br>
    <div class="w3-card-4" style="width:100%">
    <header class="w3-container w3-light-grey">
      <h3>Hola {{nombre_c}}</h3>
    </header>
    <div class="w3-container">
      <p>1 new friend request</p>
      <hr>
      <img src="http://localhost:3000/img/brain.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
      <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
    </div>

  </div>
  </div>
  <div class="w3-rest w3-container">

            <table class="w3-table-all w3-hoverable w3-small">
                <thead>
                  <th>Serie</th>
                  <th>Modelo</th>
                  <th>Marca</th>
                  <th>Reporte</th>
                  <th>Bitacora</th>
                </thead>
                <tbody>
                  <tr ng-repeat="item in maquinas | filter:filtro">
                    <td>{[item.serie]}</td>
                    <td>{[item.modelo]}</td>
                    <td>{[item.marca]}</td>
                    <td><button type="button"  ng-click="asignar(item)"     onclick="document.getElementById('id01').style.display='block'" class="w3-btn w3-hover-white">REPORTE</button></td>
                    <td><button type="button"  ng-click="getBitacora(item)" onclick="document.getElementById('id02').style.display='block'" class="w3-btn w3-hover-white">BITACORA</button></td>
                  </tr>
                </tbody>
              </table>

  </div>
  <div id="id01" class="w3-modal w3-animate-opacity">
      <div class="w3-modal-content w3-card-8">
        <header class="w3-container w3-blue">
          <span onclick="document.getElementById('id01').style.display='none'"
          class="w3-closebtn">&times;</span>
          <h2>MAKICOP BY SHARP</h2>
        </header>
        <div class="w3-container" ng-show="show_form_reporte">
          <strong>Capturar reporte para la serie:</strong>{[marca]} <strong>Marca:</strong> {[Marca]} <strong>Modelo:</strong>{[Modelo]}<br>
          <label>Falla a reportar</label>
          <input class="w3-input" type="text"  ng-model="reporte_falla"></p>
          <p>
          <label>Nombre de quien reporta</label>
          <input class="w3-input" type="text" ng-model="reporta_cliente"></p>
          <p>
          <input type="text" name="" value="Enviar" class="w3-btn" ng-click="doReport(reporte_falla,reporta_cliente)">
        </div>
        <div class="w3-container" ng-show="show_form_reporte_ok">
          <div class="w3-panel w3-blue">
              <h3>Exito!</h3>
              <p>Se capturo reporte.</p>
          </div><br>
          <span>Folio: {[folio]} (Guarda tu folio para futuras consultas)</span>
        </div>
      </div>
    </div>

<!-- TABLA BITACORA -->
<div id="id02" class="w3-modal w3-animate-opacity">
    <div class="w3-modal-content w3-card-8">
      <header class="w3-container w3-blue">
        <span onclick="document.getElementById('id02').style.display='none'"
        class="w3-closebtn">&times;</span>
        <h2>MAKICOP BY SHARP</h2>
      </header>
      <div class="w3-container" ng-show="show_form_reporte">
        <h1>Bitacora</h1>
        <!--<table class="w3-table-all w3-hoverable">
          <thead>
            <th>Folio</th>
            <th>Quien reporta</th>
            <th>Falla</th>
            <th>Serie</th>
            <th>Fecha atencion</th>
            <th>Trabajo efectuado</th>
            <th>Quien atendio (tecnico)</th>
          </thead>
          <tbody>
            <tr dir-paginate="bitacoras in bitacora| itemsPerPage: 10">
              <td>{[bitacoras.id_reporte]}</td>
              <td>{[bitacoras.cliente_captura]}</td>
              <td>{[bitacoras.falla_reportada]}</td>
              <td>{[bitacoras.serie]}</td>
              <td>{[bitacoras.fecha_atencion]}</td>
              <td>{[bitacoras.trabajo_efectuado]}</td>
              <td>{[bitacoras.tecnico_atiende]}</td>
            </tr>
          </tbody>
        </table>
        <center><dir-pagination-controls class="w3-pagination w3-xlarge" ></dir-pagination-controls></center>-->
        <center><br><div class="w3-card-4" style="width:70%" ng-repeat="bitacoras in bitacora">
          <header class="w3-container w3-light-grey">
            <h3>Serie: {[bitacoras.serie]}</h3>
          </header>
          <div class="w3-container">
            <p>Accion: {[bitacoras.accion]}</p>
            <hr>
            <img src="http://localhost:3000/img/search.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <p>Fecha accion: {[bitacoras.fecha_accion]}.<br> Responsable accion: {[bitacoras.responsable_accion]}</p><br>
          </div></center>

        </div>
      </div>
    </div>
  </div>
  <!-- -->
  </div>
