<br>
<br>
<br>

<div class="w3-row" ng-controller="tecnicoCtrl">
  <!-- TARGETA PERFIL -->
  <div class="w3-col m4 l4 ">
  <span>Inicio/ almacen</span><br>
    <div class="w3-card-4" style="width:100%">
    <header class="w3-container w3-light-grey">
      <h3>¡Hola {{nombre_c}}! ({{id_tecnico}})</h3>
    </header>
    <div class="w3-container">
      <p>Reportes Pendientes ({[countResultReports]})</p>
      <hr>
      <img src="http://localhost:3000/img/brain.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
      <p>Nivel: {{perfil}}</p>
      <p>Area : Sistemas</p>
    </div>
    <button class="w3-btn-block w3-dark-grey" ng-click="btnVerMisMaquinas()" onclick="document.getElementById('id10').style.display='block'">Ver mis maquinas (Activas)</button>
    <button class="w3-btn-block w3-dark-grey"  onclick="document.getElementById('id12').style.display='block'" ng-click="btnBuscarSerieReporte()">Buscar</button>
  </div>
  </div>
  <div class="w3-rest w3-container">
    <label for="">Reportes Activos</label>
            <table class="w3-table-all w3-hoverable w3-small">
                <thead>
                  <th>Serie</th>
                  <th>Modelo</th>
                  <th>Marca</th>
                  <th>Detalles</th>
                </thead>
                <tbody>
                  <tr dir-paginate="rActivos in reportesActivos | itemsPerPage: 5">
                    <td>{[rActivos.serie]}</td>
                    <td>{[rActivos.modelo]}</td>
                    <td>{[rActivos.marca]}</td>
                    <td><input type="button" name="" value="Detalles" class="w3-btn" ng-click="btnDetallesTecnico(rActivos)" onclick="document.getElementById('id11').style.display='block'"></td>
                  </tr>
                </tbody>
              </table>
              <center><dir-pagination-controls class="w3-pagination w3-xlarge" ></dir-pagination-controls></center>

  </div>
  <!-- MODAL PARA MOSTRAR LAS MAQUINAS ASIGNADAS AL TECNICO -->
  <div id="id10" class="w3-modal w3-animate-opacity">
      <div class="w3-modal-content w3-card-8">
        <header class="w3-container w3-blue">
          <span onclick="document.getElementById('id10').style.display='none'"
          class="w3-closebtn">&times;</span>
          <h2>MAKICOP BY SHARP (Mis Maquinas)</h2>
        </header>
        <div class="w3-container" >
          <div class="w3-col m4 l4">
            <div ng-repeat="misMaquinas in resGetMaquinas">
              <input type="button" name="" value="Serie: ({[misMaquinas.serie]})" class="w3-btn-block w3-white w3-border " ng-click="btnVerMas(misMaquinas)">
            </div>
          </div>
          <div class="w3-col m8 l8 w3-center">
            <div ng-show="show_mas_detalles_maquinas">
              <span>Marca: {[mMarca]}</span><br>
              <span>Modelo: {[mModelo]}</span><br>
              <span>Contador color: {[mNegro]}</span><br>
              <span>Contador color: {[mColor]}</span><br>
              <span>Agregados: {[mAgregados]}</span><br>
              <span>Cliente: {[mCliente]}</span><br>
              <span>CP: {[mCp]}</span><br>
              <span>Contacto: {[mContacto]}</span><br>
              <span>Sub Cliente: {[mSubC]}</span><br>
              <span>Telefono: {[mTelefono]}</span><br>
            </div>
          </div>

        </div>
        <div class="w3-container" ng-show="show_form_reporte_ok">
          <div class="w3-panel w3-blue">
              <h3>Exito!</h3>
              <p>Se capturo reporte.</p>
          </div><br>
          <span>Folio: {[folio]} (Guarda tu folio para futuras consultas)</span>
        </div>
      </div>
    </div>
    <!-- MODAL PARA VEER DETALLAS DEL REPORTE FALLA TECNICO -->
    <div id="id11" class="w3-modal w3-animate-opacity">
        <div class="w3-modal-content w3-card-8">
          <header class="w3-container w3-blue">
            <span onclick="document.getElementById('id11').style.display='none'"
            class="w3-closebtn">&times;</span>
            <h2>MAKICOP BY SHARP (Reporte)</h2>
          </header>
          <div class="w3-container" ng-show="show_reporte_detalle">
          <div class="w3-card-4" style="width:100%">
            <header class="w3-container w3-light-grey">
              <h3>Reporte maquina serie: ({[rSerie]}) <span class="w3-right-align">({[rId_reporte]})</span></h3>
            </header>
            <div class="w3-container">
              <p>Falla presentada ({[fFallaReportada]})</p>
              <hr>
              <img src="http://localhost:3000/img/swiss-army-knife.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
              <p>Fecha reporte: {[rFecha]}</p>
              <p>Reporta : {[rReporta]}</p>
            </div>
            <button class="w3-btn-block w3-dark-grey" ng-click="btnFinalReporte()" onclick="document.getElementById('id10').style.display='block'">Ver</button>
          </div>
          </div>
          <!-- FINALIZAR REPORTE -->
          <div class="w3-container" ng-show="show_reporte_detalle_ver">
            <div class="w3-card-4" style="width:100%">
              <header class="w3-container w3-light-grey">
                <h3>Reporte maquina serie: ({[rSerie]})</h3>
              </header>
              <div class="w3-container" ng-show="show_si_no_reporte">
                <p>Se arreglo la falla de la maquina con falla:  ({[fFallaReportada]})</p>
                <hr>

                <div class="w3-col m6 l6">
                  <img src="http://localhost:3000/img/checked.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                  <p>Fecha reporte: {[rFecha]}</p>
                  <p>Reporta : {[rReporta]}</p>
                  <button class="w3-btn-block w3-green w3-left-align" ng-click="btnSiFinalReporteMaquina()">Si</button>
                </div>

                <div class="w3-col m6 l6">
                  <img src="http://localhost:3000/img/cancel.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                  <p>Fecha reporte: {[rFecha]}</p>
                  <p>Reporta : {[rReporta]}</p>
                  <button class="w3-btn-block w3-red w3-left-align">No</button>
                </div>

              </div>
              <!-- SHOW PARA MOSTRAR DESCRIPCION DE COMO SE ARREGLO EL REPORTE -->
              <div class="w3-container" ng-show="show_si_reporte">
                <p>Se arreglo la falla de la maquina con falla:  ({[fFallaReportada]})</p>
                <hr>
                  <label for="">Trabajo efectuado</label><br>
                  <input type="text" ng-model="siReporte.trabajo_efectuado"><br>
                  <label for="">Nota</label><br>
                  <textarea name="name" rows="8" cols="80" ng-model="siReporte.nota"></textarea><br>
                  <input type="button" name="" value="Enviar" class="w3-btn" ng-click="btnEnviarReporteSi(siReporte)"><br>

              </div>
              <!-- SHOW PARA MOSTRAR DE QUE SE ACTUALIZO EL REGISTRO EN LA BD -->
              <div class="w3-container" ng-show="show_si_reporte_ok">
                <p>Exito, se actualizo el reporte de la maquina con falla:  ({[fFallaReportada]})</p>
                <hr>
                <img src="http://localhost:3000/img/checked.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"><br>
                <button class="w3-btn w3-green" onClick="window.location.reload()">Aceptar</button>

              </div>
              <!--<button class="w3-btn-block w3-dark-grey" ng-click="btnFinalReporte()" onclick="document.getElementById('id10').style.display='block'">Ver</button>-->
            </div>
          </div>

        </div>
      </div>
      <!-- MODAL PARA BUSQUEDA DE REPORTE POR ID O SERIE -->
      <div id="id12" class="w3-modal w3-animate-opacity">
          <div class="w3-modal-content w3-card-8">
            <header class="w3-container w3-blue">
              <span onclick="document.getElementById('id12').style.display='none'"
              class="w3-closebtn">&times;</span>
              <h2>MAKICOP BY SHARP (Busqueda Maquina y Reportes)</h2>
            </header>
            <div class="w3-container" ng-show="show_busqueda_serie_reporte">
              <label for="">Buscar por:</label><br>
              <!--<label for="">Serie</label>
              <input type="radio"  name="gender" ng-click="radioOpenSearchSerie()" >-->
              <center><button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge" ng-click="radioOpenSearchSerie()">Serie</button>
              <!--<label for="">Reporte</label>
              <input type="radio"  name="gender" ng-click="radioOpenSearchReporte()" >-->
              <button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge" ng-click="radioOpenSearchReporte()">Reporte</button></center>
              <div ng-show="show_search_by_serie" >
                <input type="text" ng-model="buscarReporteOrSerie.serie" placeholder="Ingresa la serie" class="w3-input w3-border"><br>
                <input type="button" name="" value="Enviar" ng-click="buttonOpenSearchSerie(buscarReporteOrSerie)" class="w3-btn-block">
              </div>
              <div ng-show="show_search_by_reporte">
                <input type="text" ng-model="buscarReporteOrSerie.id_reporte" placeholder="Ingresa el id reporte" class="w3-input w3-border"><br>
                <input type="button" name="" value="Enviar" ng-click="buttonOpenSearchReporte(buscarReporteOrSerie)" class="w3-btn-block">
              </div>
              <div class="w3-panel w3-red" ng-show="show_alert_0_registros">
                <h3>Alerta!</h3>
                <p>No se encontraron registros!</p>
              </div>
            </div>
            <!-- -->
            <div class="w3-container" ng-show="show_busqueda_serie_reporte_ok">
              <div class="w3-card-4">

              <header class="w3-container w3-red" ng-show="show_reporte_no_atendido">
                <h3>Reporte: {[bId_reporte]}</h3>
              </header>

              <header class="w3-container w3-green" ng-show="show_reporte_si_atendido">
                <h3>Reporte: {[bId_reporte]}</h3>
              </header>

              <div class="w3-container">

                <p>Maquina: {[bId_maquina]}</p>
                <p>Fecha: {[bFecha_captura | date:"MM/dd/yyyy 'a las' h:mma" ]}</p>
                <p>Reporta: {[bCliente_captura]}</p>
                <p>Falla Reportada: {[bFalla_reportada]}</p>
                <div ng-show="show_reporte_no_atendido">
                  <h3><strong>Reporte todavia no atendido</strong><br></h3>
                </div>
                <div ng-show="show_reporte_si_atendido">
                  <p><h3><strong>Tecnico</strong></h3></p>
                  <p>Fecha Atencion: {[bFecha_atencion]}</p>
                  <p>Tecnico atendio: {[bTecnico]}</p>
                  <p>Trabajo Efectuado: {[bTrabajo_efectuado]}</p>
                  <p>Nota: {[bNota]}</p>
                </div>
              </div>

              </div>
            </div>
          </div>
        </div>
  <!-- -->
  </div>
